nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}

nav ul li {
    list-style-type: none;
}